
.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 30px;
}

.custom-file-upload label {
    display: block;
    margin-bottom: 5px;
}

.file-upload-wrapper {
    position: relative; 
    margin-bottom: 5px;
}
.file-upload-input {
    width: 30%;
    color: #fff;
    font-size: 16px;
    padding: 11px 17px; 
    border: none;
    background-color:rgba(255,255,255,0.5); 
    float: left; /* IE 9 Fix */
    max-width:700px;
}


.file-upload-button {
    cursor: pointer; 
    display: inline-block; 
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px; 
    border: none;
    margin-left: -1px;  
    background-color:white;
    float: left; /* IE 9 Fix */
}